<br><div class="ui three statistics segment">
  <div class="ui small statistic">
    <div class="value"><i class="small users icon"></i> {{users.length}}</div>
    <div class="label">Registered Users</div>
  </div>

  <div class="ui small statistic">
    <div class="value"> {{ tweets.length }} </div>
    <div class="label"><i class="comment outline icon"></i>Tweets Sent</div>
  </div>

  <div class="ui small statistic">
    <div class="value"><i class="small bar chart icon"></i> {{ avgTweets }} </div>
    <div class="label">Tweets Per User</div>
  </div>

</div><br><br>