<section class="ui center aligned padded grid">

  <div class="ui fourteen wide column">

    <nav class="ui menu">
      <header class="header item"> <a href="/">MyTweet</a> </header>
      <div class="right menu">
        <a class="item" href="/timeline"><i class="talk outline icon"></i> Global Timeline</a>
        <a class="item" href="/timeline/personal"><i class="talk outline icon"></i> Personal Timeline</a>
        <a class="item" href="/publicprofiles"><i class="users icon"></i> Users</a>
        <a class="item" href="/settings"><i class="settings icon"></i> Settings</a>
        <a class="item" href="/logout"><i class="sign out icon"></i> Logout</a>
      </div>
    </nav>

  </div>

</section>