{{> timelinemenu }}

  <!-- send tweet box -->
  <div class="ui row">
    {{> sendtweet }}
  </div>

  <!-- timeline tweet list -->
  <div class="ui row">
    <section class="ui center aligned padded grid">

      <!-- tweet content and send button -->
      <div class="ui fourteen wide column">
        {{> user_tweetlist}}
      </div>

    </section>
  </div>


<script type="text/javascript" src="js/updateCharCounter.js"></script>

