<section class="ui center aligned padded grid">

  <div class="ui fourteen wide column">

    <nav class="ui menu">
      <header class="header item"> <a href="/"><i class="talk outline icon"></i>MyTweet</a> </header>
      <div class="right menu">
        <a class="item" href="/logout">  Logout</a>
      </div>
    </nav>

  </div>

</section>
