#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui menu">
  <a class="ui active item" href="/landing">Home</a>
  <a class="ui item" href="/donate">Donate</a>
  <a class="ui item" href="/report">Report</a>
  <a class="ui item" href="/logout">Logout</a>  
</nav>

<section class="ui two column grid segment">
  <div class="column">
    <h1>Homer for President!</h1>
    <p>Yes, your ears do not deceive you folks - Homer for President!</p>
    <p>The only choice that makes sense in a crazy and chaotic world!</p>
    <p>Why be stuck with some other chumps freeloader - choose your own!</p>
    <p>Buy your own piece of democracy!</p>
    <p>Being an incompetent boob is not cheap - give generously!</p>
    <form action="" method="GET">
      <br><button class="ui blue submit button">Make a donation now!</button>
    </form>
  </div>  
  <div class="column">
    <div class="ui large image">
      <img src="/public/images/homer_home.jpg">     
    </div>
  </div>
</section>