#{extends 'main.html' /} #{set title:'Home' /}

<nav class="ui menu">
  <a class="ui active item" href="/home">Home</a> <a class="ui item"
    href="/members">Members</a> <a class="ui item" href="/profile">Profile</a>
  <a class="ui item" href="/leaderboard">Leaderboard</a> <a
    class="ui item" href="/login">Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page</h2>

  <div class="ui list">
    <div class="item">
    <h3 class="ui image header">
      <img class="ui middle aligned mini bordered image" src="/profile/getpicture/${user.id}">
      <div class="content">
        ${user.firstName} ${user.lastName}, ${user.age}
        <div class="sub header">
          ${user.nationality}
        </div>
      </div>
      </h3>
    </div>
  </div>

  <div class="ui two column grid segment">
    <div class="ui row">
    
      <div class="ui six wide column">
        <h3>
          <i class="users icon"></i> Friends <em>(${user.friendships.size()})</em>
        </h3>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
          <div class="item">
            <div class="content">
              <img class="ui avatar image" src="/profile/getpicture/${friendship.targetUser.id}">
              <a href="/publicprofile/${friendship.targetUser.id}">                
              ${friendship.targetUser.firstName} ${friendship.targetUser.lastName} </a> 
              (<a href="/home/drop/${friendship.targetUser.id}"> <i class="remove user icon"></i></a>)
            </div>
          </div>
          #{/list}
        </div>
      </div>

      <div class="ui ten wide column">
        <h3><i class="mail outline icon"></i> Messages ( Inbox | <a href="/home/byconversation" >By Conversation </a>)</h3>
        <div class="ui three column grid segment">
          <table class="ui stackable table">
            <thead>
              <tr>
                <th class="three wide">Sender</th>
                <th class="four wide"><a href="/home/bydate" >Time Sent</a></th>
                <th class="three wide">Subject</th>
                <th class="six wide">Message</th>
              </tr>
            </thead>
            <tbody>
              #{list items:user.inbox, as:'message'}
              <tr>
                <td><img class="ui avatar image" src="/profile/getpicture/${message.from.id}">
                    <a href="/publicprofile/${message.from.id}">${message.from.firstName}</a>
                </td>
                <td>${message.getTime()}</td>
                <td>${message.subject}</td>
                <td>${message.messageText}</td>
              </tr>
              #{/list}
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</section>