<div class="two fields">
  <div class="field">
    <input value="{{user.firstName}}" type="text" name="firstName">
  </div>
  <div class="field">
    <input value="{{user.lastName}}" type="text" name="lastName">
  </div>
</div>
<div class="field">
  <input value="{{user.email}}" type="text" name="email">
</div>
<div class="field">
  <input type="password" value="{{user.password}}" name="password">
</div>