<div class="two fields">
  <div class="field">
    <input placeholder="First Name" type="text" name="firstName">
  </div>
  <div class="field">
    <input placeholder="Last Name" type="text" name="lastName">
  </div>
</div>
<div class="field">
  <input placeholder="Email" type="text" name="email">
</div>
<div class="field">
  <input type="password" name="password">
</div>