<section class="ui center aligned padded grid">

  <!-- tweet content and send button -->
  <div class="ui fourteen wide column">
    <form action="/sendtweet" method="POST">
    <div class="ui left icon right labeled action fluid input">
      <input id="tweetContent" type="text" name="content" placeholder="What's in your mind...">
      <div id="charCounter" class="ui basic label">140</div>
      <i class="talk icon"></i>
      <button class="ui button">Send</button>
    </div>
    </form>
  </div>


</section>